{% extends 'base.html' %} {% load humanize %} {% load static %} {% block meta %}
<title>Blog App</title>
{% endblock meta %} {% block content %}
<div class="container py-5" style="max-width: 650px">
  <h1>My Posts</h1>
  {% for post in posts %}
  <div class="card my-3">
    <div class="card-body">
      <h2>{{ post.title }}</h2>
      <small> <i class="fas fa-user"></i> &nbsp; {{post.author}} </small>
      <br />
      <small>
        <i class="fas fa-calendar-day"></i> &nbsp;
        {{post.date_created|naturaltime}}
      </small>
      <br />
      <small><i class="fas fa-clock"></i> &nbsp; {{post.get_readtime}}</small>
      <hr />
      <p>{{post.short_desc}}</p>
      <a href="{% url 'main:detail' post.author post.slug %}">read more</a>
      <form action="{% url 'main:delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{post.id}}" />
        <input type="submit" value="delete post" />
      </form>
      <form action="{% url 'main:edit' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{post.id}}" />
        <input type="submit" value="edit post" />
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
