{% extends 'base.html' %} {% load humanize %} {% load static %} {% block meta %}
<title>Blog App</title>
{% endblock meta %} {% block content %}
<div class="container py-5" style="max-width: 650px">
  <h1>{{post.title}}</h1>
  <hr />
  <p>{{post.short_desc}}</p>
  <hr />

  <p>
    <i class="fas fa-user"></i> &nbsp; {{post.author}}
    <br />
    <i class="fas fa-calendar-day"></i> &nbsp; {{post.date_created}}
    <br />
    <i class="fas fa-clock"></i> &nbsp; {{post.get_readtime}}
  </p>
  <hr />
  <div>{{post.content|safe}}</div>
  <hr />
  <div>
    <h4>Comments</h4>
    <br />
    {% if comments %} {% for comment in post.comments.all %}
    <div class="card">
      <div class="card-body">
        <small>
          <i class="fas fa-clock"></i> &nbsp;
          {{comment.date_created|naturaltime}}
        </small>
        <hr />
        <p>{{comment.content}}</p>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>no comments yet</p>
    {% endif %}
    <hr />
    <form action="{% url 'main:addcomment' %}" method="post">
      {% csrf_token %}
      <p>add new comment</p>
      <input type="text" name="content" id="comment_content" />
      <input type="hidden" name="id" value="{{post.id}}" />
      <input type="submit" value="Send" />
    </form>
  </div>
</div>

{% endblock content %}
