{% extends 'base.html' %} {% load humanize %} {% load static %} {% block meta %}
<title>Blog App</title>
<!--
<script
  src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"
></script>
<script>
  tinymce.init({ selector: "textarea" });
</script>
-->
{% endblock meta %} {% block content %}
<div class="container py-5">
  <h1>Blog App</h1>
  <div>
    <a href="#" class="btn btn-outline-primary">Add new blog post</a>
  </div>
  {% for post in posts %}
  <div class="card my-3">
    <div class="card-body">
      <h2>{{ post.title }}</h2>
      <small><i class="fas fa-user"></i> {{post.author}}</small> <br />
      <small
        ><i class="fas fa-calendar-day"></i>
        {{post.date_created|naturaltime}}</small
      >

      <!--<small><i class="fas fa-clock"></i></small>-->
      <hr />
      <p>{{post.short_desc}}</p>
      <a href="#">read more</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
