{% extends 'base.html' %} {% load humanize %} {% load static %} {% block meta %}
<title>Blog App</title>
{% endblock meta %} {% block content %}
<div class="container py-5" style="max-width: 650px">
  <h1>Blog App</h1>
  {% include 'main/messages.html' %}
  <div>
    {% if user.is_authenticated %}
    <a href="/new">+ add new post</a>
    {% else %}
    <a href="/login">login</a> or <a href="/register">register</a> to add new
    post.
    <!---->
    {% endif %}
  </div>

  {% for post in posts %}
  <div class="card my-3">
    <div class="card-body">
      <h2>{{ post.title }}</h2>
      <small> <i class="fas fa-user"></i> &nbsp; {{post.author}} </small>
      <br />
      <small>
        <i class="fas fa-calendar-day"></i> &nbsp;
        {{post.date_created|naturaltime}}
      </small>
      <br />
      <small><i class="fas fa-clock"></i> &nbsp; {{post.get_readtime}}</small>
      <hr />
      <p>{{post.short_desc}}</p>
      <a href="{% url 'main:detail' post.slug %}">read more</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
