{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %}
<!---->
{% block meta %}
<title>Blog App</title>
{% endblock meta %} {% block content %}
<div class="container py-5" style="max-width: 650px">
  {% include 'main/messages.html' %}
  <div class="row">
    <div class="col">
      <h3>Register</h3>
      <p>have an account already? <a href="/login">login</a></p>
      <hr />
      <form action="" method="POST">
        {% csrf_token %}
        <div>{{ form|crispy }}</div>
        <br />
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
